footer {
    margin-top: 50px;
    text-align: center;
    padding: 10px;
    color: #003249;
}

.PieDePage-menu {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 80px;
    border: solid 2px #003249;
    background-color: var(--couleurBleuPrussian);
    padding: 20px;
}

.PieDePage-menu ul {
    list-style-type: none;
    padding: 0;
}